<%= form_for @room do |f| %>
  <div class="form-group" >
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :door_ways %>
    <%= f.text_field :door_ways %>
  </div>
  <div class="form-group">
    <%= f.label :first_description%>
    <%= f.text_area :first_description%>
  </div>
  <div class="form-group">
    <%= f.label :normal_description %>
    <%= f.text_area :normal_description %>
  </div>
  <%= f.submit %>
<% end %>
