<h1>Tears of Iron</h1>
<h6>the prototype</h6>
<h2>The of these protoypes is not higlight working concepts for:</h2>
<h3>navigating from room to room.</h3>
<h3>populating rooms with items, and allowing the player's character to pick up the items found.</h3>
<h3>Combine the previous two prototypes, in a functional prototype will literiall open doors for more features!</h3>
<hr>
<%= render "/layouts/character_display" %>

<%= form_for @character do |f| %>
<%= f.hidden_field :room_id, :value => 1 %>
<%= f.hidden_field :tile_id, :value => Room.find(1).tiles[47].id %>
<%= f.submit "Room 1" %>
<% end %>

<%= form_for @character do |f| %>
<%= f.hidden_field :room_id, :value => 2 %>
<%= f.hidden_field :tile_id, :value => Room.find(2).tiles[19].id %>
<%= f.submit "Room 2" %>
<% end %>

<%= form_for @character do |f| %>
<%= f.hidden_field :room_id, :value => 3 %>
<%= f.hidden_field :tile_id, :value => Room.find(3).tiles[39].id %>
<%= f.submit "Room 3" %>
<% end %>

<%= form_for @character do |f| %>
<%= f.hidden_field :room_id, :value => 4 %>
<%= f.hidden_field :tile_id, :value => Room.find(4).tiles[38].id %>
<%= f.submit "Room 4" %>
<% end %>

<%= form_for @character do |f| %>
<%= f.hidden_field :room_id, :value => 5 %>
<%= f.hidden_field :tile_id, :value => Room.find(5).tiles[47].id %>
<%= f.submit "Room 5" %>
<% end %>

<%= form_for @character do |f| %>
<%= f.hidden_field :room_id, :value => 6 %>
<%= f.hidden_field :tile_id, :value => Room.find(6).tiles[12].id %>
<%= f.submit "Room 6" %>
<% end %>

<%= form_for @character do |f| %>
<%= f.hidden_field :room_id, :value => 7 %>
<%= f.hidden_field :tile_id, :value => Room.find(7).tiles[12].id %>
<%= f.submit "Room 7" %>
<% end %>

<% if @character.is_new === true %>
  <%  Room.reset %>
    <%  @doors.each do |door| %>
      <%  door.shut_the %>
    <%  end %>
  <%  end %>

  <% if @player.is_admin === true %>
<h1>************************************</h1>
<h3>Admin Menu</h3>
<h3>List of Rooms</h3>
<% if @rooms.any? %>
<hr>
  <% @rooms.each do |room| %>
  <h1> <%= room.name %> </h1>
  <%= link_to "Jump to", room_path(room) %>
  <%= link_to "Edit Details of ", edit_room_path(room) %>
  <%= link_to "Delte this room", room_path(room), :data => {:confirm => "Are you sure? If you mess up you WILL NEED TO MUCH WITH THE DATABASE", :method => "delete"} %>
  <hr>
<% end %>
<% else %>
<h1>There are no rooms to display.</h1>
<% end %>
<% end %>
