<h1>You are currently in room no. <%= @room.id %>.</h1>
<h2> THE ROOM OF <%= @room.name %> </h2>
<div class="row">
  <div class="col-md-1">
    <%= render "/layouts/game_controller" %>
  </div>
  <div class="col-md-5">
    <%= render "layouts/text_display" %>
  </div>
  <div class="col-md-5">
    <%= render "/layouts/character_display" %>
  </div>
</div>
<hr>
<div id="world">
  <div><%= image_tag "#{@room.id}.png", :class =>"world" %><%= image_tag "robo64.png", :class =>"robo" %>
    <% if @room.doors.any? %>
      <% @room.doors.each do |door| %>
        <% if @character.do_you_have?("A key") === true %>
          <%= link_to edit_door_path( door) do %>
            <%= image_tag "door.png"  %>
          <% end %>
        <% else %>
          <%= link_to door_path( door) do %>
            <%= image_tag "door.png"  %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if @items.any? %>
      <% @items.each do |item| %>
       <% item.spawn_item %>
        <% if item.active === true && item.obtainable === true %>
          <%if item.title === "A key" %>
              <%= link_to edit_character_item_path(@player, item) do %>
                <%= image_tag "#{item.title}.png"  %>
                <% end %>
              <% else %>
              <%= link_to edit_character_item_path(@player, item) do %>
                <%= image_tag "#{item.title}.png"  %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
    <% end %>

</div>
<hr>
