
<div class="well center black">


  <div class="interaction well" id="interaction_display">
  </div>
  <div class="room<%=@room.id %>" id="active_room" >
  <%= render "/layouts/map_display" %>
  </div>
</div>
<div id ="state_of_game">
  <%=render "/layouts/game_over" %>
</div>
<div id="cinfo">
  <%= render "/layouts/character_display"%>
</div>
<div id ="state_of_game">
  <%=render "/layouts/game_over" %>
</div>
<% if @character.battery_level <= 0 %>
<% else %>
<div class="game-controller" id="game_controller">
<%= render "/layouts/controls"%>
<div id="tinfo">
  <%= render "/layouts/text_display", room: @room %>
</div>
<% end %>
</div>
