<h1>You are currently in room no. <%= @room.id %>.</h1>
<h2> THE ROOM OF <%= @room.name %> </h2>
<%= render "/layouts/game_controller" %><%= render "layouts/text_display" %>

<hr>
<div id="world">
  <div><%= image_tag "#{@room.id}.png", :class =>"world" %><%= image_tag "robo64.png", :class =>"robo" %></div>
</div>


<hr>
