<h1>You are currently in room no. <%= @room.id %>.</h1>
<h2> THE ROOM OF <%= @room.name %> </h2>
<hr>
<div #id="game-world">
  <% if @room.door_ways.include?("n") %>
  <%= link_to "Go North", room_path(@room.id - 3), :id => "north" %>
  <% end %>
  <br>
  <% if @room.door_ways.include?("w") %>
  <%= link_to "Go West", room_path(@room.id - 1), :id => "west" %>
  <% end %>
  |<%= image_tag "robo.png" %>|
  <% if @room.door_ways.include?("e") %>
  <%= link_to "Go East", room_path(@room.id + 1), :id => "west" %>
  <% end %>
<br>
<% if @room.door_ways.include?("s") %>
<%= link_to "Go South", room_path(@room.id + 3), :id => "south" %>
<% end %>

</div>
<hr>
