<div id="d_pad">
  <div class="north">
    <% if @room.door_ways.include?("n") %>
      <% if @room.directions_blocked.include?("n") %>
      <%= button_to "Go North", door_path(@door),method: :get, :class => "north " %>
      <% end %>
    <%= button_to "Go North", room_path(@room.id - 3),method: :get, :class => "north" %>
    <% end %>
  </div>
  <br>
  <div class="west">
    <% if @room.door_ways.include?("w") %>
    <%= button_to "Go West", room_path(@room.id - 1),method: :get, :class => "west" %>
    <% end %>
  </div>
  <div class="east">
    <% if @room.door_ways.include?("e") %>
      <% if @east != nil %>
        <% if @east.active == true %>
          <% if @character.do_you_have?(@east.req_item) === true %>
           <%= button_to "East", edit_door_path(@east), method: :get, class:"east" %>
            <% else %>
            <%= button_to "East", door_path(@east), method: :get, class:"east" %>
           <% end %>
           <% else %>
           <%= button_to "Go East", room_path(@room.id + 1), method: :get, class: "east" %>
           <% end %>
           <% else %>
              <%= button_to "Go East", room_path(@room.id + 1), method: :get, class: "east" %>
          <% end %>
        <% end %>
  </div>
  <div class="south">
    <% if @room.door_ways.include?("s") %>
    <%= button_to "Go South", room_path(@room.id + 3),method: :get, :class => "south" %>
    <% end %>
  </div>
  <br><br><br><br><br><br><br><br>
  <%= button_to "search", search_path(@room.id),method: :get, clase: "search" %>
</div>
