  <div id="game-controller">
  <div class="north">
    <% if @room.door_ways.include?("n") %>
      <% if @room.directions_blocked.include?("n") %>
      <%= button_to "Go North", door_path(@door),method: :get, :class => "north" %>
      <% end %>
    <%= button_to "Go North", room_path(@room.id - 3),method: :get, :class => "north" %>
    <% end %>
  </div>
  <br>
  <div class="west">
    <% if @room.door_ways.include?("w") %>
    <%= button_to "Go West", room_path(@room.id - 1),method: :get, :class => "west" %>
    <% end %>
  </div>
  <div class="east">
    <% if @room.door_ways.include?("e") %>
        <% if @east.is_locked === true %>
        <h1>Locked</h1>
        <% elsif @east.is_locked === true && @character.do_you_have?('A key') === true %>
        <h1>I have a Key </h1>
        <%end %>
        <% else %>
        <h1>Head East</h1>
      <% end %>
  </div>
  <div class="south">
    <% if @room.door_ways.include?("s") %>
    <%= button_to "Go South", room_path(@room.id + 3),method: :get, :class => "south" %>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br><br>
  <%= button_to "search", search_path(@room.id),method: :get %>
</div>
