<div class="<%=tile.tile_name %>", id="tile<%= tile.id %>">
  <% if tile.character != nil %>
  <%= image_tag "robo64", class: "robo"  %>
  <% end %>
  <% if tile.item != nil %>
  <%= link_to character_item_path(@character, tile.item), remote:true do %>
  <%= image_tag "#{tile.item.img}" %>
  <% end  %>
  <% end %>
</div>
